{% block zl_dragupload_widget %}
  {% set pref = 'zl-dragupload' %}
  {% spaceless %}
    <div class="jumbotron {{ pref }}-zone dropzone" id="dropzone">
      <h2 class="dz-message">{{ 'Drop files here to upload.'|trans }}</h2>
    </div>
  {% endspaceless %}
  <script>
    // We must load the script only once, even if many widgets on form
    if ( !window.Dropzone ) {
      document.write('<script src="{{ asset('bundles/zldragupload/js/dropzone.js') }}"></sc'+'ript>');
    }
  </script>
  
  <script>
    (function ($, document, Dropzone) {
      $(document).one('ready', function () {
        var dropzone = new Dropzone('div#dropzone', {url: '{{ path('zl_dragupload_file') }}'});
      });
    })(jQuery, document, window.Dropzone);
  </script>
{% endblock %}